# Day 5-1: If You Give A Seed A Fertilizer

https://adventofcode.com/2023/day/5

In [1]:
import pandas as pd

In [5]:
# import data
with open("Day 05-0 Input.txt", 'r') as file:
	lines = file.readlines()

seeds = [int(s) for s in lines[0].split(':')[1].strip().split(' ')]

mapping = []
map_counter = -1

for line in lines:
	if 'map' in line:
		map_counter += 1

	if line[0].isnumeric():
		map = [int(i) for i in line.split(' ')]

		mapping.append([
			map_counter,
			map[1],
			map[1]+map[2]-1,
			map[0]-map[1]])
			
df = pd.DataFrame(mapping, columns=['map', 'source_start', 'source_end', 'offset'])

df

    map  source_start  source_end  offset
0     0            98          99     -48
1     0            50          97       2
2     1            15          51     -15
3     1            52          53     -15
4     1             0          14      39
5     2            53          60      -4
6     2            11          52     -11
7     2             0           6      42
8     2             7          10      50
9     3            18          24      70
10    3            25          94      -7
11    4            77          99     -32
12    4            45          63      36
13    4            64          76       4
14    5            69          69     -69
15    5             0          68       1
16    6            56          92       4
17    6            93          96     -37

In [3]:
def get_new_pos(df, map, origin):
	result = df.loc[(df['map'] == map) & (df['source_start']<= origin) & (df['source_end']>= origin)]

	if len(result) == 1:
		return (result['offset'].iloc[0]+origin)
	
	else:
		return origin

In [4]:
loc_arr = []

for seed in seeds:
	location = seed
	for steps in range(8):
		location = get_new_pos(df, steps, location)
	loc_arr.append(location)

print(min(loc_arr))

35